<h1>New Game</h1>
<ul>
  <% @letters.each do |letter| %>
  <li>
    <%= letter %>
  </li>
  <% end %>
</ul>

<form action="#" class="form-inline">
  <div class="input-group input-group-lg">
    <input type="text" name="question" class="form-control">
    <span class="input-group-btn">
      <input type="submit" value="Ask" class="btn btn-primary">
    </span>
  </div>
</form>
